<div id="footer">
	<div class="container">
		<div class="row">
			<ul class="nav inline center">
				<li><%= link_to "联系我们",'#' %></li>
				<li><%= link_to "免责声明",'#' %></li>
				<li><%= link_to "站长工具",'#' %></li>
				<li>Copyright © 2013 Bangbom.</li>
			</ul>
		</div>
	</div>
</div>